html {scrollbar-color:purple black;}
/* Body CSS */
body {background-image:linear-gradient(darkred, blue);word-wrap:break-word}
.container {max-width:1000px;margin:auto;position:relative;word-wrap:break-word;}
.footer {color:white;background-color:black;position:relative;max-width:100%;text-align:center;font-family:sans-serif;font-size:10px;padding:4px;}
.text {font-size:12px;color:white;font-family:sans-serif;background-color:black;padding:4px;}
/* Text CSS */
h1 {background-color:black;color:white;font-style:italic;padding:4px;text-align:center}
a {color:white;}
a:hover {background-color:purple;color:white!important}
::selection {background-color:violet;color:black!important}
textarea {background-color:black;color:white;border:1px purple solid;width:360px;max-width:99%;height:160px}
/* Custom Text CSS */
.neon {color:white;font-weight:bold;text-shadow:-1px 0 0 purple,0 -1px 0 purple,1px 0 0 purple,0 1px 0 purple,0 0 4px purple}
.long {font-weight:800;letter-spacing:2px;text-transform:uppercase}
/* Bar CSS */
::-webkit-scrollbar {width:12px}
::-webkit-scrollbar-track {background-color:black}
::-webkit-scrollbar-thumb {background-color:purple}
/* Spoiler CSS */
summary {background-color:darkgreen;color:white;max-width:99%;width:max-content;padding:4px;}
summary.big {background-color:purple;color:white;width:99%;padding:4px;}
/* Other CSS */
IMG {max-width:100%}