/* Body CSS */
body {
  background-image: linear-gradient(red, blue, purple);
  text-align: center;
}

/* Div CSS */

/* Text CSS */

p1 {
  color: white;
  background-color: #1c1c1c;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: sans-serif;
}

h1 {
  color: white;
  background-color: #1c1c1c;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family:"myFirstFont";
}

a {
  color: white;
}

/* Custom Fonts */

@font-face {
  font-family: "myFirstFont";
  src: url("/CSS/AEROSPA_.TTF") format("truetype");
}