body {
text-align:center
}
h1 {
color:white;
font-size:200%;
}
p1, p2 { 
color:white;font:sans-serif
}
a {
color:blue;
font:comic-sans;
}
span {
color: lime
}

body {
background-image: url(https://3dspaint.com/paint/view.php?id=246708&type=PNG&depth=2)
}
header {
background-image: url(/imgs/background1.png)
}
header, nav, main, aside {
  border:2px solid #f00;
}
header, nav {
  max-width:200%;
}
aside {
  width:15%;
}
.flex {
  display:flex;
  background-color:black
}
header {
  max-height:100px;
  height:100px;
}
main {
  width:90%;
}