/* Body CSS */

body {
  background-image: linear-gradient(to right, gold, purple);
  text-align: center;
}

/* Text CSS */

h1, p1 {
  color: white;
  background-color: #1B1212;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

a {
  color: white
}