body {
  background-image: url(/imgs/Archives/OtherImages/SDKPaint-BG.png);
  text-align: center
}


/* Text CSS */

h1 {
  color: white;
  background-color: #36454F;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family: sans-serif;
}

.PaintText {
  color: white;
  font-family: sans-serif;
  text-align: center;
  background-color: #36454F;
}

/* DIV CSS */

.icon {
  width: 32px;
  height: 32px
}